body {
    font-family: 'Montserrat', sans-serif;

    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    position: relative;
    padding: 20px;

    &__header {
        height: 50px;
        background: $dark-green;

        padding: 0 15px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        color: #fff;

        font-weight: 500;
        font-size: 18px;

        &-select {
            font-size: 15px;
            font-weight: bold;
            color: #303030;
            background-color: white;
            line-height: 30px;
            border-radius: 5px;

            outline: none;
            padding: 4px;
        }

        &-info {
            display: flex;
            align-items: center;

            gap: 15px;
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 20px;
            }
        }

        &-more {
            display: flex;
            gap: 15px;
            align-items: center
        }

        &-version {
            font-size: 12px;
            opacity: .6;
        }

        [data-js="record"] {
            display: flex;
            align-items: center;

            img {
                width: 24px;
                margin-right: 6px;
            }
        }
    }

    &__again {
        position: absolute;
        z-index: -1;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s 0s;

        opacity: 0;
        overflow: hidden;

        background: rgba(#000, .3);

        &-body {
            background: #4a752c;
            width: 250px;
            height: 55px;
            margin: 12px auto;
            border-radius: 8px;
            border: none;
            color: #fff;
            font-size: 20px;
            text-align: center;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 20px;
                margin-right: 15px;
            }
        }

        &.open {
            opacity: 1;
            overflow: visible;
            z-index: 10;
        }
    }
}